// Color scheme variables

// Layout
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

footer{
    background-color: #cccccc;
    padding: 0.5em;
    border-top: 2px, solid, rgb(29, 28, 28);
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.navbar{
    background-color: black;
}
